<path-monitor>
	<enable>no</enable>
	<failure-condition>any</failure-condition>
	<hold-time>2</hold-time>
</path-monitor>

<nexthop>
{% if item.nextHopVr is defined %}
	<next-vr>{{ item.nextHopVr }}</next-vr>
{% else %}
	<ip-address>{{ item.nextHop }}</ip-address>
{% endif %}
</nexthop>

<bfd>
	<profile>None</profile>
</bfd>

<interface>{{ item.interfaceName }}</interface>

{% if item.metric is defined %}
<metric>{{ item.metric }}</metric>
{% else %}
<metric>10</metric>
{% endif %}

<destination>{{ item.destination }}</destination>

<route-table>
	<unicast/>
</route-table>